<template>
  <div class="container">
    <div class="card">
      <div class="card-header">Upload Template</div>
      <form @submit.prevent="uploadTemplate" enctype="multipart/form-data">
        <div class="form-group">
          <label class="label">Template Title</label>
          <input v-model="templateName" type="text" class="form-control" placeholder="Enter template title" id="temp_name">
        </div>
        <div class="form-group">
          <label class="label">Choose a File</label>
          <div class="upload-btn-wrapper">
            <button class="btn-upload">Browse</button>
            <input type="file" class="input-file" @change="handleFileChange" accept=".xlsx">
          </div>
        </div>
        <div class="form-group">
           <span class="selected-file">{{ excelFile ? excelFile.name : 'No file selected' }}</span>
        </div>
        <div class="form-group">
          <button type="submit" class="btn-primary">Upload</button>
        </div>
      </form>
      <div class="upload-message" :class="{'success-animation': uploadSuccess}">{{ uploadStatus }}</div>
      <div class="form-group">
        <a href="https://main.d3e25zopby4ppm.amplifyapp.com/" class="template-link">Visit Template List</a>
      </div>
    </div>
  </div>
</template>
<script>
import axios from "axios";

export default {
  data() {
    return {
      templateName: "",
      excelFile: null,
      uploadStatus: "",
      uploadSuccess: false
    };
  },
  methods: {
    handleFileChange(event) {
      this.excelFile = event.target.files[0];
    },
    async uploadTemplate() {
      const reader = new FileReader();

      reader.onload = async (event) => {
        const base64File = event.target.result;

        const requestData = {
          template_name: this.templateName,
          excel_file: base64File
        };

        console.log(JSON.stringify(requestData));

        try {
          const response = await axios.post('https://lbgijd7gw0.execute-api.ap-southeast-2.amazonaws.com/dev/upload', requestData);
          this.uploadSuccess = true;
          this.uploadStatus = 'File uploaded successfully';
          console.log(response);
        } catch (error) {
          this.uploadStatus = 'Error uploading file';
          console.error(error);
        }
      };

      reader.readAsDataURL(this.excelFile);
    }
  }
};
</script>


<style scoped>
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f5f5;
}

.card {
  width: 400px;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  overflow: hidden;
  text-align: center;
}

.card-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 25px;
}

.label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.form-control {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 12px;
  width: 95%;
  transition: border-color 0.3s;
  margin: auto;
}

.form-control:focus {
  border-color: #007bff;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin-top: 15px;
}

.btn-upload {
  border: none;
  color: white;
  background-color: #007bff;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.btn-upload:hover {
  background-color: #0056b3;
}

.input-file {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.upload-message {
  margin-top: 15px;
  font-weight: bold;
  color: #007bff;
  font-size: 16px;
}

.success-animation {
  animation: fadeInOut 2s ease-in-out;
}

@keyframes fadeInOut {
  0%, 100% {
    opacity: 0;
    transform: translateY(-20px);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
}
.template-link {
  display: block;
  font-size: 18px;
  font-weight: bold;
  color: #007bff;
  margin-top: 15px;
  text-decoration: none;
  transition: color 0.3s;
}

.template-link:hover {
  color: #0056b3;
}
</style>


